@import url("hk-pyg.css");

body { padding: 10px;
      font-size: 14pt;
      font-family: Arial, sans-serif;
      line-height: 1.4em; }

header h1 { font-size: 42pt; }

main { max-width: 46em;
       border-left: 1px solid grey; }

nav { margin-top: 1em; }

footer { padding: 1em; color: #888; text-align: center; font-size: 93%; }

.navbar-default { background-color: transparent; border: none; }

/* Tree menus */
.nav-header:after {
content: "\00A0\25BE";
}
li > ul.tree {
  padding-left: 10px;
}